<% layout('layout/biolerplate') %>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h2>Your Order Has Been Placed</h2>
                <p>Thank you for your purchase! Your order has been successfully placed.</p>
                <a href="/orders" class="btn btn-primary">My Orders</a>
            </div>
        </div>
    </div>